/* made mirage */
@font-face { font-family: MADE Mirage; src: url('../font/MADE-Mirage-Reg.otf'); } 
@font-face { font-family: MADE Mirage; font-weight: bold; src: url('../font/MADE-Mirage-Bold.otf');}
@font-face { font-family: MADE Mirage Med; font-weight: bold; src: url('../font/MADE-Mirage-Med.otf');}
@font-face { font-family: Neutra; src: url('../font/NeutraText-Book.otf'); } 
@font-face { font-family: Neutra; font-weight: italic; src: url('../font/NeutraText-Book.otf');}
@font-face { font-family: Neutra; font-weight: bold; src: url('../font/NeutraText-Bold.otf');}
@font-face { font-family: Recoleta; src: url('../font/Recoleta-RegularDEMO.otf');}
@font-face { font-family: Serif-Gothic; src: url('../font/SerifGothicStd.otf');}
@font-face { font-family: Souvenier; src: url('../font/souvenir.ttf');}
@font-face { font-family: Array; src: url('../font/Array-Regular.otf'); } 
@font-face { font-family: Array; font-weight: bold; src: url('../font/Array-Bold.otf');}
@font-face { font-family: Kihim; src: url('../font/Kihim-Regular.otf');}
@font-face { font-family: Hoover; src: url('../font/Hoover-Regular.otf'); } 
@font-face { font-family: Hoover; font-weight: bold; src: url('../font/Hoover-Bold.otf');}
@font-face { font-family: Hoover; font-weight: italic; src: url('../font/Hoover-Light.otf');}
@font-face { font-family: Segment; font-weight: bold; src: url('../font/Segment-Regular.otf');}
@font-face { font-family: Striper; src: url('../font/Striper-Regular.otf');}


body {
    background-color:#FFFFFF;
    color: #FE0200;
}

#main {
    font-size: 60px;
    color:#FE0200;
}

.main-2 {
    font-size:3.5vw;
    padding-left:10%;
    padding-right:10%;
    color: #FE0200;
}

.intro-pic {
  max-height: 100vh;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ramen {
  width: 25%;
  margin-top: 10px;
}

.nav {
    /* margin-left:20px;
    margin-top:40px; */
    text-align: center;
    display: flex;
    font-size: 3.5vw;
}

#content {
    margin: auto;
    width: 85%;
}

h1, h4, .nav, .main-2 {
    font-family: "Neutra"
}

h3 {
    font-size: 42px;
    font-family: "Recoleta";
    margin-block-end: 0.5vw;
    margin-block-start: 0.25vw;
    color: #FE0200;
}

.para-content {
    font-family: "Neutra";
    font-size:20px;
    margin-bottom: 5px;
}

.project {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 5px 5px; */
}

.photo-projects {
  pointer-events: none;
}

.project:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.projfont {
  font-size: 20px;
  padding: 15px;
}

.row {
    display: flex;
  }
  
.column {
  flex: 50%;
}

.jump {
  margin-top: 15px;
  width: 75%;
  /* transform: scaleX(-1); */
}


.gif {
  width: 40%;
  height: 40%
}

/* deals with links */
  a {
    text-decoration: none;
  }

  a:link {
    color:#0053E2;
  }
  
  /* visited link */
  a:visited {
    color:#0053E2;
  }
  
  /* mouse over link */
  a:hover {
    color:#FFF23E
  }
  

  #pot {
    width:90%;
    margin-bottom: 50px;
    /* border-radius: 100%; */
    box-shadow: 5px 5px #cf694c;
  }

  .row-intro {
    display: grid;
    /* align-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  /* .bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
    }
    @keyframes bouncy {
      0%{top:0em}
      40%{top:0em}
      43%{top:-0.9em}
      46%{top:0em}
      48%{top:-0.4em}
      50%{top:0em}
      100%{top:0em;}
    } */

  a.button-class {
    display:inline-block;
    padding:0.4em 1em;
    margin:0 0.2em 0.2em 0;
    border-radius:0.6em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Neutra',sans-serif;
    font-weight:100;
    color:#FFFFFF;
    background-color:#FFF23E;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    }
    a.button-class:active{
      top:0.1em;
    }
    @media all and (max-width:30em){
     a.button6{
      display:block;
      margin:0.4em auto;
     }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

    @media screen and (max-width: 480px) {

      .random-pos {
        margin-top: 300px;
        margin-left: 100px;
      }
    }

    @media screen and (max-width: 768px) {
    
      h3 {
        text-align: center;
      }

    }

    @media screen and (min-width: 850px) {
      
      .main-2 {
        overflow-x: hidden;
        overflow-y: auto;
        height: 75vh;
      }

      .intro-pic {
        height:75vh
      }

    }


  .social {
    display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5vw
  }
/* width
::-webkit-scrollbar {
  width: 10px;
} */

.array {
  font-family: "Array";
}

.kihim {
  font-family: "Kihim";
}

.hoover {
  font-family: "Hoover";
}

.striper {
  font-family: "Striper";
}

.segment {
  font-family: "Segment";
}

/* scroller */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFF23E;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0053E2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FE0200;
}


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.random-pos {
  position: absolute;
  height: 15%;
  margin-top: 300px;
  margin-left: 300px;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}